MONGODB_URI=
MONGODB_DB=school
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
DEFAULT_ADMIN_EMAIL=admin@dms.com
DEFAULT_ADMIN_PASSWORD=admin123
DEFAULT_ADMIN_NAME=Default Admin
DEFAULT_ADMIN_FORCE=false
